/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
    /* BASE STYLES */
* {
  box-sizing: border-box;
}

.main-nav-list {
  list-style: none;
  padding: 0;
}
.main-nav-list-item {
  padding: .7rem 0;
  text-align:center;
  background-color: lime;
  border: 1px solid #000;
}

.box {
  background-color: pink;
  border:1px solid blue;
  margin: 10px 0;
  padding:10px;
}

  /* LARGER THAN 700PX */
  @media (min-width: 700px) {
    body {
      width: 80%;
      margin: 0 auto;
    }
    .main-nav-list-item {
      float:left;
      width: 25%;
    }
    .box {
      width: 47%;
      float: left;
    }
    .box:nth-child(odd) {
      margin-right: 6%;
    }
  }

    /* LARGER THAN 1024 PX */ 
    @media (min-width: 1024px) {
      .box {
        width: 29.33%;
        float: left;
        margin-right: 6%;
      }
      .box:nth-child(3n+3) {
        margin-right: 0;
      }
    }
    
    
    .group:after {
      content: "";
      display: table;
      clear: both;
    }